*.jpeg
*.JPG
*.npy
weights_*
*.h5
*.xml
*.iml
*.json
*pred*.txt
vgg19_*
*.txt
*.pdf
remote/
Dataset/
keras-cam/
keras-cam_orig/
*.db
AnnotDatasets/
other_*
data_relabel/
dataset_good/
dataset_relabel/
__*
fire_model/compare/
smoke_model/compare/
*.csv
